.vs
.idea
*.csproj
*.sln
*.user
Library
Package
ProjectSettings
Temp
obj

Assets/ExternalLibs/XLua/Doc
Assets/ExternalLibs/XLua/Doc.meta
Assets/ExternalLibs/XLua/Examples
Assets/ExternalLibs/XLua/Examples.meta
Assets/ExternalLibs/XLua/Tutorial
Assets/ExternalLibs/XLua/Tutorial.meta

Assets/Plugins/Editor
Assets/Plugins/Editor.meta
Assets/Plugins/XLua/WebGL
Assets/Plugins/XLua/WebGL.meta

Assets/XLua
Assets/XLua.meta
